.headerSection{
    width: 100%;
    height: 900px;
    background-image: url(https://i.ibb.co/rwj47nW/ia-200000019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.headerSection::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.logo img{
    width: 197px;
}
.nav-menu ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.nav-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 7px 23px;
}
.nav-menu ul li a:hover{
    color: chocolate;
}
.nav-menu ul li:first-child a{
    color: chocolate;
}
/* dropdown  start */
li .dropdown{
    position: absolute;
    width: 227PX;
    top: 100%;
    left: 0;
    background-color:whitesmoke;
    visibility: hidden;
    opacity: 0;
    transition: .7s;
    transform: scaleY(0);
}
li .dropdown li a {
    color: black;
    display: inline-block;
    padding: 11px 13px;
}
.nav-menu ul li:hover .dropdown{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

/* banner       section         start */

.bannerContant{
    color: white;
    text-align: center;
    padding-top: 25%;
}
.bannerContant h1{
    font-size: 77px;
}
.bannerContant h3 {
    margin: 37px 0;
}
.bannerContant a{
    text-decoration: none;
    color: white;
    background-color: #c69453;
    padding: 13px 27px;
    display: inline-block;
    border-radius: 30px;
    transition: .5s;
}
.bannerContant a:hover{
    background-color: white;
    color: #c69453;
}

/* service       section           start */

.serviceSection{
    padding: 107px 0;
    text-align: center;
}
.serviceSection h3 {
    font-size: 17px;
    line-height: 37px;
}
.serviceSection a {
    text-decoration: none;
    background-color: #c69453;
    border-radius: 7px;
    color: white;
    padding: 7px 27px;
    line-height: 51px;
    transition: .7s;
}
.serviceSection a:hover{
    background-color: black;
    color: white;
}